:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #131313;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.package-name {
  font-size: 3.2em;
  line-height: 1.1;
  color: #fff;
}

.package-desc {
  max-width: 543px;
  text-align: center;
  opacity: 0.76;
}

.card {
  margin: 3rem 0 0;
  max-width: 720px;
  width: 100%;
}

#app {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

main {
  display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.btn:hover {
  border-color: #646cff;
}

.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  .btn {
    background-color: #f9f9f9;
  }
}


.flexi-fl-icon {
  font-size: 7rem;
  font-family: sans-serif;
  font-weight: 500;
  color: #fff;
}

.flip-letter {
  display: inline-block;
  transform: scaleX(-1);
}


.output-console {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui;
  margin: 2rem;
  white-space: normal;
  background: #ffffff08;
  border-radius: 20px;
  text-wrap: balance;
  position: relative;
}